body {
  position: relative;
  background-color:white;
}


.book-img{
	width: 200px;
	height:300px;
}

.book-div{
	border: 1px solid grey;
}

.jumbotron{
	background-image:url("../images/jumbotron5.jpg");
	background-size: cover;
	background-size: 100% 100%;
	
	height:100%;
	width:100%;
}


.jumbotron h1{

	font-family: 'Lobster', cursive;
	color: white;
	font-size: 100px;
	letter-spacing: 15px;
	text-align: center;
	font-weight: 200;
	line-height: 2;
	

}


.jumbotron h2{
	
	font-family: 'Lobster';
	color: white;
	text-align: center;
	word-spacing: 8px;
	letter-spacing: 5px;

}


.jumbotron h3{
	
	font-family: 'Lobster';
	text-align: center;
	color: white;
	word-spacing: 8px;
	letter-spacing: 5px;
}

.nav{
	font-family: 'Lobster';

}

.nav a {
	font-color:#0086b3;
}

p{
text-align: justify;
}

.container {
	background-color:white;
}

.survey {
	border: 1px solid grey;
	}

.icon-bar{
	background-color:#0086b3;
}
	

