body {
  position: relative;
  background-color:white;
}


/* This needs to be change to make sure that all images look good*/

.book-img{
	width: 200px;
	height:300px;
}

.icon-bar{
	background-color: #0086b3;

}

.book-div{
	border: 1px solid grey;
}

.jumbotron h1{

	font-family: 'Lobster', cursive;
	color: white;
	/*font-size: 80px;*/
	letter-spacing: 15px;
	text-align: center;
	font-weight: 200;
	line-height: 2;
	
}


.jumbotron h2{
	
	font-family: 'Lobster';
	color: white;
	text-align: center;
	word-spacing: 8px;
	letter-spacing: 5px;

}


.jumbotron h3{
	
	font-family: 'Lobster';
	text-align: center;
	color: white;
	word-spacing: 8px;
	letter-spacing: 5px;

}


.nav{
	font-family: 'Lobster';

}

.nav a {
	font-color:#0086b3;
}


.panel-title{
text-decoration: none;
font-family: "Lobster";
letter-spacing: 1px;


}




.jumbotron{
	padding:0px;
}





p{
text-align: justify;
}

.container {
	background-color:white;
}

.survey {
	border: 1px solid grey;
	}

#mycarousel{
	padding:0;
}

.carousel-img{
height:100%;
width: 100%;
}

.container-contactpage {
	font-family: 'Lobster', cursive;
	color: grey;
	font-size: 50px;
	letter-spacing: 5px;
	text-align: left;
	font-weight: 200;
	line-height: 2;
}

.carousel-caption{
	padding:0px;
	margin: 0px;
}


.table{
	padding:10px;
}

/*.panel-title {
text-decoration: none;
font-family: "Lobster";
letter-spacing: 1px;
margin-left:10px;






}

form {
	width: 300px;
	margin: 0 auto;
}

input {
	margin-bottom: 20px;

}

body {
	background: #ececec;
>>>>>>> origin/gh-pages
}



}*/
