body {
  position: relative;
  background-color:white;
}


.book-img{
	width: 200px;
	height:300px;
}

.book-div{
	border: 1px solid grey;
}

/*.jumbotron{
	background-image:url("../images/jumbotron5.jpg");
	background-size: cover;
	background-size: 100% 100%;
	
	height:100%;
	width:100%;
}*/

.jumbotron{
	padding:0px;
}


.jumbotron h1{

	font-family: 'Lobster', cursive;
	color: white;
	/*font-size: 80px;*/
	letter-spacing: 15px;
	text-align: center;
	font-weight: 200;
	line-height: 2;
	
}


.jumbotron h2{
	
	font-family: 'Lobster';
	color: white;
	text-align: center;
	word-spacing: 8px;
	letter-spacing: 5px;

}


.jumbotron h3{
	
	font-family: 'Lobster';
	text-align: center;
	color: white;
	word-spacing: 8px;
	letter-spacing: 5px;

}

.nav{
	font-family: 'Lobster';

}

.nav a {
	font-color:#0086b3;
}

p{
text-align: justify;
}

.container {
	background-color:white;
}

.survey {
	border: 1px solid grey;
	}

#mycarousel{
	padding:0;
}

.carousel-img{
height:100%;
width: 100%;
}
<<<<<<< HEAD
.container-contactpage {
	font-family: 'Lobster', cursive;
	color: grey;
	font-size: 50px;
	letter-spacing: 5px;
	text-align: left;
	font-weight: 200;
	line-height: 2;
=======

.carousel-caption{
	padding:0px;
	margin: 0px;
}

.panel-title {
text-decoration: none;
font-family: "Lobster";
letter-spacing: 1px;
margin-left:10px;
}


<<<<<<< HEAD


/*
h1 {
	color: white;
	font-weight: 700;
	font-size:100px;
	text-align: center;
	letter-spacing: 8px
}
h2 { 
	color: white;
	font-weight: 300;
	font-size: 35px;
	word-spacing: 8px;
	text-align: center;


}

form {
	width: 300px;
	margin: 0 auto;
}

input {
	margin-bottom: 20px;

}

body {
	background: #ececec;
>>>>>>> origin/gh-pages
}



