body {
  position: relative;
  background-color:white;
}


/* This needs to be change to make sure that all images look good*/

.book-img{
	width: 200px;
	height:300px;
}

.icon-bar{
	background-color: #0086b3;

}

.book-div{
	border: 1px solid grey;
}

.jumbotron h1{

	font-family: 'Lobster', cursive;
	color: white;
	/*font-size: 80px;*/
	letter-spacing: 15px;
	text-align: center;
	font-weight: 200;
	line-height: 2;
	
}


.jumbotron h2{
	
	font-family: 'Lobster';
	color: white;
	text-align: center;
	word-spacing: 8px;
	letter-spacing: 5px;

}


.jumbotron h3{
	
	font-family: 'Lobster';
	text-align: center;
	color: white;
	word-spacing: 8px;
	letter-spacing: 5px;

}


.nav{
	font-family: 'Lobster';

}

.nav a {
	font-color:#0086b3;
}


.panel-title{
text-decoration: none;
font-family: "Lobster";
letter-spacing: 1px;


}




.jumbotron{
	padding:0px;
}



p{
text-align: justify;
}

.container {
	background-color:white;
}





#mycarousel{
	padding:0;
}

.carousel-img{
height:100%;
width: 100%;
}

.container-contactpage {
	font-family: 'Lobster', cursive;
	color: grey;
	font-size: 50px;
	letter-spacing: 5px;
	text-align: left;
	font-weight: 200;
	line-height: 2;
}

.carousel-caption{
	padding:0px;
	margin: 0px;
}


.table{
	padding:10px;
}



 #review{
	max-width: 400px;
	background-color: #0086b3;
	color:white;
	padding-top:15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	margin-top: 50px;
	border-radius: 30px;
	border-color:white;
	font-family: "Lobster";
	line-height: 2px;
}

.about {


	font-family: 'Lobster', cursive;
}


.about-p{

font-family: 'Yanone Kaffeesatz', sans-serif;	
text-align:	 justify;
letter-spacing: 1px;
line-height: 25px;
margin-top: 30px;
}

.about-p:last-child {
	text-align:center;
}


form{
font-family: 'Yanone Kaffeesatz', sans-serif;
letter-spacing: 1px;
}

/* Contact form css below*/


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


form header {
  margin: 0 0 20px 0;
  color: grey;
  font-family: 'Lobster', cursive ;
  font-size: 25px ;
  letter-spacing: 3px;
}

form header div {
  font-size: 90%;
  color: #999;
  font-family: 'Lobster' , cursive ;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
  font-family: 'Lobster' , cursive;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
	font-family: 'Lobster' , cursive;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}

/* end of contact form css */

#map {
        width: 500px;
        height: 400px;
        background-color: grey;
        margin: 0 auto 0 auto;
      }


#form-title{
	font-family: 'Lobster', cursive;
}

/*.panel-title {
text-decoration: none;
font-family: "Lobster";
letter-spacing: 1px;
margin-left:10px;






}

form {
	width: 300px;
	margin: 0 auto;
}

input {
	margin-bottom: 20px;

}

body {
	background: #ececec;
>>>>>>> origin/gh-pages
}



}*/
